//$header-font-family: "Norwester",sans-serif;
$body-font-family: "Source Sans Pro",sans-serif;
$primary-color: #21A0B7;
$secondary-color: #808080;
$sidebar-width-large: 520px;
$detail-form-margin: 100px;
