// Important variables : App colors, foundation framework overrides
@import 'variables';
@font-face {
  font-family: 'QuickSand';
  src: url('fonts/Quicksand-Regular.otf') format('opentype');
}
// Building CSS

@import 'components/ListeFormulaires';
@import 'components/Sidebar';
@import 'components/ModalTrash';
@import 'components/Formulaire';
@import 'components/DetailsFormulaire';
@import 'components/SearchBar';
@import 'components/ModalMdp';
@import 'components/ModalChange';

body {
  background-color: white;
  font-family: $body-font-family;
  margin: inherit;
  min-width: 30em;
}
