.SearchBar1{
  background-color: $primary-color;
  padding: 0.5rem;
  .ion-android-search{
    margin-right: 2rem;
    color: white;
  }
  .Recherche{
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
    width: 80%;
    box-shadow: none;
    background-color: $primary-color;
  }
}
.SearchBar2{
  float: right;
  .ion-android-search{
    margin-right: 2rem;
    color: white;
  }
  .Recherche{
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    margin-right: 40rem;
    width: 400px;
    border-width: 2px;
    box-shadow: none;
    background-color: $primary-color;
  }
}
