.Sidebar {
  img{
    margin-top: 0.3rem;
  }
  .header{
    width: 100%;
    background-color: $primary-color;
    margin-left: $sidebar-width-large;
    padding: 3.7rem;
    position: fixed;
    z-index: 3;
    min-width: 100em;
  }
  .sidebar1{
    z-index: 3;
    min-height: 100vh;
    position: fixed;
    margin-top: 8.6rem;
    width: $sidebar-width-large;
    flex-direction: column;
    background-color: $secondary-color;
  }
  .Home{
    float: left;
    width: $sidebar-width-large;
    height: 5.1rem;
    background-color: white;
    position: fixed;
  }
  .newCard{
    background: white;
    padding: 5px;
    padding-right: 32px;
    border-radius: 7px;
    color: $primary-color;
    text-decoration: none;
    position: relative;
    bottom: 1rem;
    left: 2.9rem;
  }
  .Morepswd{
    position: relative;
    background: white;
    padding: 5px;
    top: 2rem;
    right: 10.6rem;
    border-radius: 7px;
    color: $primary-color;
    text-decoration: none;

  }
  .ion-plus-round{
    margin-right: 2rem;
  }
  .ion-ios-cart{
    margin-right: 2rem;
  }
}
